{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": 52,
          "ie": "11",
          "browsers": [
            "last 2 versions"
          ],
          "esmodules": true
        },
        "debug": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ]
}