@font-face {
  font-family: "Nunito-Bold";
  src : url(../../asserts/fonts/Nunito-Bold.ttf);
}

@font-face {
  font-family: "Nunito-Regular";
  src : url(../../asserts/fonts/Nunito-Regular.ttf);
}

@font-face {
  font-family: "Nunito-SemiBold";
  src : url(../../asserts/fonts/Nunito-SemiBold.ttf);
}