@import "../mixins/mq";
@import "../mixins/media_queries";

.footer {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkslategrey;

  @include bp-min(m) {
    padding: 3%;
  }

  &__text {
    font-size: 1.2em;
    font-family: Nunito-Bold, sans-serif;
    color: white;

    @include bp-min(m) {
      font-size: 1.9em;
    }
  }
}